<html>
    <title>Bounding Box Entry</title>
    <head>
        <link rel="stylesheet" href="https://unpkg.com/semantic-ui@2.2.10/dist/semantic.min.css" />
        <link rel="stylesheet" href="https://unpkg.com/leaflet@1.0.3/dist/leaflet.css" />
        <link rel="stylesheet" href="https://unpkg.com/leaflet-draw@0.4.9/dist/leaflet.draw.css" />
        <script src="https://unpkg.com/leaflet@1.0.3/dist/leaflet.js"></script>
        <script src="https://unpkg.com/leaflet-draw@0.4.9/dist/leaflet.draw.js"></script>
        <style>
            .container {
                margin: 1%;
            }
        </style>
    </head>
    <body>
        <div class="container">
            <div class="ui grid">
                <div class="sixteen wide center aligned column">
                    <h1 class="ui header">Bounding Box Entry</h1>
                </div>
                <div class="ten wide column">
                    <div id="map" style="width: 100%; height: 85%; border: 1px solid #ccc"></div>
                </div>
                <div class="six wide column">
                    <div id="bb-name-input" class="ui disabled fluid action input">
                        <input id="bb-name-input-field" type="text" placeholder="Enter Name">
                        <div id="bb-create-button", class="ui disabled blue button">Create</div>
                    </div>

                    <div class="ui hidden divider"></div>
                    <h3 class="ui centered header">Latest Bounding Boxes</h3>
                    <table id="latest-bb-table" class="ui celled table">
                      <thead>
                        <tr><th>Name</th>
                        <th>Created</th>
                        <th>Status</th>
                      </tr></thead>
                      <tbody>
                          {% for bb in bounding_boxes %}
                          <tr>
                              <td>{{bb.name}}</td>
                              <td>{{bb.created_at.strftime('%Y-%m-%d')}}</td>
                              <td>{{bb.state}}</td>
                          </tr>
                          {% endfor %}
                      </tbody>
                    </table>
                </div>
            </div>
        </div>
        <script src="{{ url_for('static', filename='bundle.js') }}"></script>
        <script>
            var osmUrl = 'http://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png',
            osmAttrib = '&copy; <a href="http://openstreetmap.org/copyright">OpenStreetMap</a> contributors',
            osm = L.tileLayer(osmUrl, { maxZoom: 18, attribution: osmAttrib }),
            map = new L.Map('map', { center: new L.LatLng(42.3736, -71.1097), zoom: 13 }),
            drawnItems = L.featureGroup().addTo(map);

            osm.addTo(map);
            map.addControl(new L.Control.Draw({
                edit: {
                    featureGroup: drawnItems,
                    poly: {
                        allowIntersection: false
                    }
                },
                draw: {
                    polyline: false,
                    circle: false,
                    marker: false,
                    polygon: false,
                }
            }));
            map.on(L.Draw.Event.CREATED, function (event) {
                var layer = event.layer;
                drawnItems.addLayer(layer);
                window.currentBoundingBox = BBE.handleDrawEvent(event.layer);

                document.getElementById('bb-name-input')
                    .classList.remove('disabled');
                document.getElementById('bb-create-button')
                    .classList.remove('disabled');
            });
        </script>
    </body>
</html>
